.container-fluid #wrapper-checkout {
    background-color: var(--bodybg);
    min-height: 80vh;
    height: auto;
    padding-bottom: 20px;
}

.container-fluid #wrapper-checkout .col-sm-12 {
    padding: 0;
    padding-top: 15vh;
}

.container-fluid #wrapper-checkout .col-sm-12 .form-wrap {
    width: 50%;
    height: auto;
    background-color: var(--layerone);
    padding: 25px;
    border-radius: 5px;
}

.container-fluid #wrapper-checkout .col-sm-12 .form-wrap h4{
    font-size: 22px;
    font-family: 'Roboto', sans-serif;
    color: white;
    text-align: center;
    font-weight: bold;
}

.container-fluid #wrapper-checkout .col-sm-12 .form-wrap h2{
    color: var(--primarybg);
    font-size: 40px;
}

.container-fluid #wrapper-checkout .col-sm-12 .form-wrap p {
    color: red;
    text-align: left;
    margin-bottom: 2px;
    font-size: 16px;
    font-style: italic;
}

.container-fluid #wrapper-checkout .col-sm-12 .form-wrap form {
    width: 100%;
}

.container-fluid #wrapper-checkout .col-sm-12 .form-wrap form input {
    width: 90%;
    height: 35px;
    background: transparent;
    border: 2px solid white;
    border-radius: 2px;
    outline: none;
    color: white;
    padding-left: 5px;
}

.container-fluid #wrapper-checkout .col-sm-12 .form-wrap form select {
    width: 90%;
    height: 35px;
    background: transparent;
    border: 2px solid white;
    border-radius: 2px;
    outline: none;
    color: white;
    padding-left: 5px;
}

.container-fluid #wrapper-checkout .col-sm-12 .form-wrap form select option{
    color: var(--primarybg);

}


.container-fluid #wrapper-checkout .col-sm-12 .form-wrap form #message {
    height: 80px;
}

.container-fluid #wrapper-checkout .col-sm-12 .form-wrap form label {
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    color: white;
    margin-top: 20px;
    margin-bottom: 5px;
}

.container-fluid #wrapper-checkout .col-sm-12 .form-wrap form button{
    width: 165px;
    height: 55px;
    margin-top: 25px;
    margin-bottom: 35px;
}








@media only screen and (max-width: 900px){
    .container-fluid #wrapper-checkout .col-sm-12 .form-wrap {
        width: 70%;
    }

    .container-fluid #wrapper-checkout .col-sm-12 .form-wrap h4{
        font-size: 20px;
    }
    
    .container-fluid #wrapper-checkout .col-sm-12 .form-wrap h2{
        font-size: 36px;
    }
    
    .container-fluid #wrapper-checkout .col-sm-12 .form-wrap p {
        font-size: 16px;
    }
    
}

@media only screen and (max-width: 480px){
    .container-fluid #wrapper-checkout .col-sm-12 .form-wrap {
        width: 95%;
    }

    .container-fluid #wrapper-checkout .col-sm-12 .form-wrap form label {
        font-size: 14px;
    }
    
    .container-fluid #wrapper-checkout .col-sm-12 .form-wrap form button{
        width: 155px;
        height: 50px;
    }

    .container-fluid #wrapper-checkout .col-sm-12 .form-wrap h4{
        font-size: 26px;
    }
    
    .container-fluid #wrapper-checkout .col-sm-12 .form-wrap h2{
        font-size: 32px;
    }
    
    .container-fluid #wrapper-checkout .col-sm-12 .form-wrap p {
        font-size: 14px;
    }
    
}
